In [31]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [32]:
cellstats=pd.read_csv('cellstats.csv')

In [33]:
cellstats.head()

        ﻿Age     typeofphone  2001  2002  2003  2004  2005  2006  2007
0  under 25   cellular phone  26.3  40.4  50.9  57.8  63.4  69.5  75.2
1  25-34 yrs  cellular phone  26.3  34.9  37.6  45.2  52.0  58.3  66.5
2  35-44 yrs  cellular phone  24.6  32.7  34.6  39.4  45.1  51.1  58.5
3  45-54 yrs  cellular phone  25.0  32.9  35.7  40.7  44.6  49.4  56.6
4  55-64 yrs  cellular phone  21.0  27.1  29.0  34.0  39.2  42.7  48.1

In [34]:
cellstats.drop(['typeofphone'],axis=1,inplace=True)

In [35]:
cellstats.tail()

           ﻿Age  2001  2002  2003  2004  2005  2006  2007
1     25-34 yrs  26.3  34.9  37.6  45.2  52.0  58.3  66.5
2     35-44 yrs  24.6  32.7  34.6  39.4  45.1  51.1  58.5
3     45-54 yrs  25.0  32.9  35.7  40.7  44.6  49.4  56.6
4     55-64 yrs  21.0  27.1  29.0  34.0  39.2  42.7  48.1
5  65 and above  13.1  18.2  18.2  20.8  24.6  27.7  32.8

In [37]:
cellstats.to_csv('cleaned_cellstast.csv')