In [72]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [73]:
result=pd.read_csv('Mobilephoneusers.csv')

In [74]:
result.head()

,﻿Index,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1,Aruba,ABW,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,112.218062,119.203900,126.210337,129.728240,NaN,131.856540,134.873823,135.065889,135.721780,NaN
1,2,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,17.716243,29.220374,37.894937,35.974039,47.406464,51.434547,55.012226,58.845471,61.577682,NaN
2,3,Angola,AGO,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,28.010982,36.983690,42.846573,48.101209,59.826189,61.406276,61.873297,63.479208,60.843896,NaN
3,4,Albania,ALB,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,73.350384,58.912351,78.184588,85.468247,98.291535,110.686532,116.157208,105.469966,106.380207,NaN
4,5,Andorra,AND,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,78.117158,80.283610,82.061811,84.068184,83.534322,81.502042,80.702618,82.643195,88.123533,NaN

In [75]:
result=result.rename(columns = {'Country Name':'CountryName'})

In [76]:
result=result.rename(columns = {'Country Code':'CountryCode'})

In [77]:
result=result.rename(columns = {'Indicator Name':'IndicatorName'})

In [78]:
result.head()

,﻿Index,CountryName,CountryCode,IndicatorName,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1,Aruba,ABW,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,112.218062,119.203900,126.210337,129.728240,NaN,131.856540,134.873823,135.065889,135.721780,NaN
1,2,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,17.716243,29.220374,37.894937,35.974039,47.406464,51.434547,55.012226,58.845471,61.577682,NaN
2,3,Angola,AGO,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,28.010982,36.983690,42.846573,48.101209,59.826189,61.406276,61.873297,63.479208,60.843896,NaN
3,4,Albania,ALB,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,73.350384,58.912351,78.184588,85.468247,98.291535,110.686532,116.157208,105.469966,106.380207,NaN
4,5,Andorra,AND,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,78.117158,80.283610,82.061811,84.068184,83.534322,81.502042,80.702618,82.643195,88.123533,NaN

In [79]:
result.drop(['CountryCode','IndicatorName','1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974'],axis=1,inplace=True)

In [80]:
result.columns

Index([u'﻿Index', u'CountryName', u'1975', u'1976', u'1977', u'1978', u'1979',
       u'1980', u'1981', u'1982', u'1983', u'1984', u'1985', u'1986', u'1987',
       u'1988', u'1989', u'1990', u'1991', u'1992', u'1993', u'1994', u'1995',
       u'1996', u'1997', u'1998', u'1999', u'2000', u'2001', u'2002', u'2003',
       u'2004', u'2005', u'2006', u'2007', u'2008', u'2009', u'2010', u'2011',
       u'2012', u'2013', u'2014', u'2015', u'2016'],
      dtype='object')

In [81]:
result=result.ix[result.CountryName=='United States']

In [82]:
result.head()

,﻿Index,CountryName,1975,1976,1977,1978,1979,1980,1981,1982,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
249,250,United States,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,82.064145,85.209165,88.623646,91.311652,94.440426,96.010376,97.077739,110.204194,117.586744,NaN

In [50]:
result.to_csv('cleaned_mpusers.csv')

In [83]:
results=result.drop(['CountryName'],axis=1,inplace=True)

results.head()

results=results.T

In [133]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [134]:
result=pd.read_csv('mpusers.csv')

result.head()

In [135]:
result.head()

   year   values
0   1975     0.0
1   1976     0.0
2   1977     0.0
3   1978     0.0
4   1979     0.0

result.iloc[1]

In [136]:
result['values']*1000

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
5          0.000000
6          0.000000
7          0.000000
8          0.000000
9         38.253436
10       140.659444
11       279.060364
12       498.659917
13       829.863407
14      1392.817030
15      2075.802366
16      2939.643902
17      4249.049037
18      6103.716586
19      9104.921407
20     12604.724900
21     16238.152480
22     20142.384840
23     24890.639520
24     30576.102980
25     38468.091050
26     44690.578740
27     48851.038220
28     54846.814090
29     62547.195980
30     68317.695070
31     76293.538420
32     82064.144790
33     85209.165170
34     88623.646110
35     91311.652020
36     94440.425960
37     96010.376090
38     97077.739390
39    110204.193500
40    117586.744400
Name: values, dtype: float64

In [137]:
result.head()

   year   values
0   1975     0.0
1   1976     0.0
2   1977     0.0
3   1978     0.0
4   1979     0.0

In [130]:
result.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: values, dtype: float64

In [101]:
result

0.0

In [102]:
result.head()

AttributeError: 'numpy.float64' object has no attribute 'head'