In [248]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [142]:
df  = pd.read_csv('Mobilephoneusers.csv')

In [143]:
df.head()

,﻿Index,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1,Aruba,ABW,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,112.218062,119.203900,126.210337,129.728240,NaN,131.856540,134.873823,135.065889,135.721780,NaN
1,2,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,17.716243,29.220374,37.894937,35.974039,47.406464,51.434547,55.012226,58.845471,61.577682,NaN
2,3,Angola,AGO,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,28.010982,36.983690,42.846573,48.101209,59.826189,61.406276,61.873297,63.479208,60.843896,NaN
3,4,Albania,ALB,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,73.350384,58.912351,78.184588,85.468247,98.291535,110.686532,116.157208,105.469966,106.380207,NaN
4,5,Andorra,AND,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,78.117158,80.283610,82.061811,84.068184,83.534322,81.502042,80.702618,82.643195,88.123533,NaN

In [144]:
In [0]: df=df.rename(columns = {'Country Name':'CountryName'})

In [145]:
df=df.rename(columns = {'Country Code':'CountryCode'})

In [146]:
df.columns

Index([u'﻿Index', u'CountryName', u'CountryCode', u'Indicator Name', u'1960',
       u'1961', u'1962', u'1963', u'1964', u'1965', u'1966', u'1967', u'1968',
       u'1969', u'1970', u'1971', u'1972', u'1973', u'1974', u'1975', u'1976',
       u'1977', u'1978', u'1979', u'1980', u'1981', u'1982', u'1983', u'1984',
       u'1985', u'1986', u'1987', u'1988', u'1989', u'1990', u'1991', u'1992',
       u'1993', u'1994', u'1995', u'1996', u'1997', u'1998', u'1999', u'2000',
       u'2001', u'2002', u'2003', u'2004', u'2005', u'2006', u'2007', u'2008',
       u'2009', u'2010', u'2011', u'2012', u'2013', u'2014', u'2015', u'2016'],
      dtype='object')

In [147]:
df=df.rename(columns = {'Indicator Name':'IndicatorName'})

In [148]:
df.columns

Index([u'﻿Index', u'CountryName', u'CountryCode', u'IndicatorName', u'1960',
       u'1961', u'1962', u'1963', u'1964', u'1965', u'1966', u'1967', u'1968',
       u'1969', u'1970', u'1971', u'1972', u'1973', u'1974', u'1975', u'1976',
       u'1977', u'1978', u'1979', u'1980', u'1981', u'1982', u'1983', u'1984',
       u'1985', u'1986', u'1987', u'1988', u'1989', u'1990', u'1991', u'1992',
       u'1993', u'1994', u'1995', u'1996', u'1997', u'1998', u'1999', u'2000',
       u'2001', u'2002', u'2003', u'2004', u'2005', u'2006', u'2007', u'2008',
       u'2009', u'2010', u'2011', u'2012', u'2013', u'2014', u'2015', u'2016'],
      dtype='object')

In [149]:
df.ix[df.CountryName=='United States']

,﻿Index,CountryName,CountryCode,IndicatorName,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
249,250,United States,USA,Mobile cellular subscriptions (per 100 people),0.0,NaN,NaN,NaN,NaN,0.0,...,82.064145,85.209165,88.623646,91.311652,94.440426,96.010376,97.077739,110.204194,117.586744,NaN

In [150]:
df.drop(['1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989'],axis=1,inplace=True)

In [152]:
df.columns

Index([u'﻿Index', u'CountryName', u'CountryCode', u'IndicatorName', u'1990',
       u'1991', u'1992', u'1993', u'1994', u'1995', u'1996', u'1997', u'1998',
       u'1999', u'2000', u'2001', u'2002', u'2003', u'2004', u'2005', u'2006',
       u'2007', u'2008', u'2009', u'2010', u'2011', u'2012', u'2013', u'2014',
       u'2015', u'2016'],
      dtype='object')

In [156]:
df=df.ix[df.CountryName=='United States']

In [157]:
df.head()

,﻿Index,CountryName,CountryCode,IndicatorName,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
249,250,United States,USA,Mobile cellular subscriptions (per 100 people),2.075802,2.939644,4.249049,6.103717,9.104921,12.604725,...,82.064145,85.209165,88.623646,91.311652,94.440426,96.010376,97.077739,110.204194,117.586744,NaN

In [158]:
df.to_csv('cleaned_IncreasePopu.csv')

In [277]:
da=rs.multiply(1000,axis=['1','45','46','47'])

AttributeError: 'NoneType' object has no attribute 'multiply'

In [218]:
da.head()

,﻿Index,CountryName,CountryCode,IndicatorName,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
249,250000,United StatesUnited StatesUnited StatesUnited ...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,Mobile cellular subscriptions (per 100 people)...,0.0,NaN,NaN,NaN,NaN,0.0,...,82064.14479,85209.16517,88623.64611,91311.65202,94440.42596,96010.37609,97077.73939,110204.1935,117586.7444,NaN

In [200]:
dn=rs.multiply(1000,axis=40,level=int)

In [201]:
dn.head()

,﻿Index,CountryName,CountryCode,IndicatorName,1975,1976,1977,1978,1979,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
249,250000,United StatesUnited StatesUnited StatesUnited ...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,Mobile cellular subscriptions (per 100 people)...,0.0,0.0,0.0,0.0,0.0,0.0,...,68317.69507,76293.53842,82064.14479,85209.16517,88623.64611,91311.65202,94440.42596,96010.37609,97077.73939,110204.1935