In [10]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [11]:
df  = pd.read_csv('CancerData.csv')

In [12]:
df.head()

,Race/ Ethnicity,Current Age,"Risk of Being Diagnosed with Cancer,+10 yrs","Risk of Being Diagnosed with Cancer,+20 yrs","Risk of Being Diagnosed with Cancer,+30 yrs","Risk of Being Diagnosed with Cancer,Eventually","Risk of Dying from Cancer,Eventually"
0,All Races,0.0,0.04,0.06,0.09,0.62,0.47
1,All Races,10.0,0.03,0.05,0.08,0.59,0.47
2,All Races,20.0,0.03,0.06,0.1,0.57,0.46
3,All Races,30.0,0.03,0.08,0.16,0.54,0.46
4,All Races,40.0,0.05,0.13,0.25,0.52,0.45

In [13]:
df.drop(['Risk of Being Diagnosed with Cancer,+10 yrs'],axis=1,inplace=True)

In [14]:
df.columns

Index([u'Race/ Ethnicity', u'Current Age',
       u'Risk of Being Diagnosed with Cancer,+20 yrs',
       u'Risk of Being Diagnosed with Cancer,+30 yrs',
       u'Risk of Being Diagnosed with Cancer,Eventually',
       u'Risk of Dying from Cancer,Eventually'],
      dtype='object')

In [15]:
df.drop(['Risk of Being Diagnosed with Cancer,+20 yrs'],axis=1,inplace=True)

In [16]:
df.drop(['Risk of Being Diagnosed with Cancer,+30 yrs'],axis=1,inplace=True)

In [17]:
df.columns

Index([u'Race/ Ethnicity', u'Current Age',
       u'Risk of Being Diagnosed with Cancer,Eventually',
       u'Risk of Dying from Cancer,Eventually'],
      dtype='object')

In [18]:
df.to_csv('cleaned_cancerdata.csv')

In [21]:
df  = pd.read_csv('Braincancer.csv')

In [22]:
df.head()

,Year of Death,"All Races,Both Sexes","All Races,Males","All Races,Females","Whites,Both Sexes","Whites,Males","Whites,Females","Blacks,Both Sexes","Blacks,Males","Blacks,Females"
0,1975,4.11,4.96,3.40,4.32,5.20,3.60,2.41,3.20,1.75
1,1976,4.34,5.28,3.56,4.54,5.50,3.74,2.66,3.54,1.98
2,1977,4.40,5.39,3.59,4.63,5.69,3.77,2.54,2.99,2.18
3,1978,4.53,5.54,3.71,4.76,5.82,3.91,2.70,3.36,2.18
4,1979,4.26,5.25,3.45,4.48,5.50,3.64,2.63,3.30,2.11

In [23]:
df.drop(['Whites,Both Sexes'],axis=1,inplace=True)

In [24]:
df.drop(['Whites,Males'],axis=1,inplace=True)

In [25]:
df.drop(['Whites,Females'],axis=1,inplace=True)

In [26]:
df.drop(['Blacks,Both Sexes'],axis=1,inplace=True)

In [27]:
df.drop(['Blacks,Males'],axis=1,inplace=True)

In [28]:
df.drop(['Blacks,Females'],axis=1,inplace=True)

In [29]:
df.columns

Index([u'Year of Death', u'All Races,Both Sexes', u'All Races,Males',
       u'All Races,Females'],
      dtype='object')

In [30]:
df.to_csv('cleaned_Braincancerdata.csv')